.bento{
    max-width: 1200px;
    height: calc(100vh - var(--nav-height) );
    margin: 0 auto;

    padding: 1.5rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    grid-template-areas: 
    "bb-a bb-b bb-b bb-c"
    "bb-a bb-d bb-e bb-e";

    /*Debug*/
    border: 1px solid blueviolet;
}

.bento-box{
    border: 1px solid salmon;
    border-radius: 1.5rem;
}

.bento-box-A{
    grid-area: bb-a;
}

.bento-box-B{
    grid-area: bb-b;
}

.bento-box-C{
    grid-area: bb-c;
}

.bento-box-D{
    grid-area: bb-d;
}

.bento-box-E{
    grid-area: bb-e;
}


/*MEDIA QUERIES*/
/*========================*/

@media screen and (max-width: 1024px) {
    .bento{
        grid-template-columns: 1fr;
    }
}