/*Contenedor de cada producto en carrito*/
.center{
    margin: 0 auto;
}

.item-carrito{
    border-bottom: 2px solid var(--color-chrysler-blue);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.item-carrito div{
    padding: 1.25rem 0;
}

.carrito__img{
    max-width: 100px;
    
}

.item-carrito h4{
    margin-bottom: 1rem;
}

.producto__data__precio span{
    font-weight: bold;
}

.span-cantidad{
    margin: 0 0.75rem;
}

.btn-producto{
    font-size: 1.25rem;
    padding: 6px 8px;
    background-color: transparent;
    border-radius: 3px;
}

.btn-producto.btn-producto__eliminar{
    margin-top: 1.25rem;
    color: var(--color-rose);
    border: 2px solid var(--color-rose);
}

.btn_producto_mas, .btn_producto_menos{
    color:var(--color-chrysler-blue);
    border: 2px solid var(--color-chrysler-blue);
}


.producto__data__subtotal p span{
    font-weight: bold;
}



/*MEDIA QUERIES */
/*================*/



@media screen and (max-width: 1024px) {
    .producto__data__cantidad{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}