.main{
    padding: 1.75rem;
    width:100vw;
}

.contenedor-producto{
    display: flex;
    justify-content: center;
}

.contenedor-producto__imagen{
    width:50%
}

.contenedor-producto__imagen img{
    display: block;
    width: 100%;
}

.contenedor-producto__info{
    padding: 1.25rem;
}

.contenedor-producto__info h2{
    margin-bottom: 1.5rem;
}

.contenedor-producto__info-descripcion{
    margin-bottom: 2.5rem;
}

.btn-navegacion{
    text-decoration: none;
    display: inline-block;
    margin-top: 1.75rem;
    background-color: var(--color-rose);
    font-size: 1.5rem;
    color: var(--color-magnolia);
    padding: 12px 16px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-navegacion:hover{
    background-color: var(--color-magnolia);
    color: var(--color-rose);
    border: 2px solid var(--color-rose);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/*Sección sólo para administradores*/

.botones-admin{
    margin-top: 1.25rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;    
    border: 2px solid var(--color-fandango);
    border-radius: 0.75rem;
}

.botones-admin h3{
    margin-top: 1.5rem;
}

.btn-admin-eliminar{
    background-color: #E83151;
    color: var(--color-magnolia)
}

.btn-admin-editar{
    background-color: #00AFB5;
}

/*==============================================================================*/
/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .contenedor-producto{
        flex-direction: column;
        justify-content: center;
    }
    .contenedor-producto__imagen{
        width: 100%;
    }
}