

.grilla-productos{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}


/*MEDIA QUERIES*/
/*======================================*/

@media screen and (max-width: 1023px) {
    .grilla-productos{
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 768px) {
    .grilla-productos{
        grid-template-columns: 1fr;
    }
}

